openapi: 3.0.0
info:
  title: 42 API
  version: '1.0'
servers:
  - url: https://api.intra.42.fr/v2
paths:
  /project_sessions:
    get:
      summary: ''
      deprecated: false
      description: ''
      tags: []
      parameters:
        - name: sort
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - project_id
                - campus_id
                - cursus_id
                - estimate_time
                - created_at
                - updated_at
                - begin_at
                - end_at
                - max_people
                - duration_days
                - terminating_after
                - solo
                - is_subscriptable
                - minimum_mark
                - team_behaviour
                - commit
                - difficulty
                - description
                - objectives
                - divisor
                - '-id'
                - '-project_id'
                - '-campus_id'
                - '-cursus_id'
                - '-estimate_time'
                - '-created_at'
                - '-updated_at'
                - '-begin_at'
                - '-end_at'
                - '-max_people'
                - '-duration_days'
                - '-terminating_after'
                - '-solo'
                - '-is_subscriptable'
                - '-minimum_mark'
                - '-team_behaviour'
                - '-commit'
                - '-difficulty'
                - '-description'
                - '-objectives'
                - '-divisor'
        - name: filter[id]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: filter[project_id]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: filter[campus_id]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: filter[cursus_id]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: filter[estimate_time]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[created_at]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[updated_at]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[begin_at]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[end_at]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[max_people]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: filter[duration_days]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: filter[terminating_after]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: filter[solo]
          in: query
          schema:
            type: boolean
        - name: filter[is_subscriptable]
          in: query
          schema:
            type: boolean
        - name: filter[team_behaviour]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[difficulty]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: filter[future]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[end]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: range[id]
          in: query
          schema:
            type: string
        - name: range[project_id]
          in: query
          schema:
            type: string
        - name: range[campus_id]
          in: query
          schema:
            type: string
        - name: range[cursus_id]
          in: query
          schema:
            type: string
        - name: range[estimate_time]
          in: query
          schema:
            type: string
        - name: range[created_at]
          in: query
          schema:
            type: string
        - name: range[updated_at]
          in: query
          schema:
            type: string
        - name: range[begin_at]
          in: query
          schema:
            type: string
        - name: range[end_at]
          in: query
          schema:
            type: string
        - name: range[max_people]
          in: query
          schema:
            type: string
        - name: range[duration_days]
          in: query
          schema:
            type: string
        - name: range[terminating_after]
          in: query
          schema:
            type: string
        - name: range[solo]
          in: query
          schema:
            type: string
        - name: range[is_subscriptable]
          in: query
          schema:
            type: string
        - name: range[team_behaviour]
          in: query
          schema:
            type: string
        - name: range[difficulty]
          in: query
          schema:
            type: string
        - name: page[number]
          in: query
          schema:
            type: integer
        - name: page[size]
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    solo:
                      type: boolean
                    begin_at:
                      type: string
                      nullable: true
                    end_at:
                      type: string
                      nullable: true
                    estimate_time:
                      type: string
                      nullable: true
                    difficulty:
                      type: integer
                      nullable: true
                    objectives:
                      type: array
                      items:
                        type: string
                    description:
                      type: string
                    duration_days:
                      type: integer
                      nullable: true
                    terminating_after:
                      type: integer
                      nullable: true
                    project_id:
                      type: integer
                    campus_id:
                      type: integer
                      nullable: true
                    cursus_id:
                      type: integer
                      nullable: true
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    max_people:
                      type: integer
                      nullable: true
                    is_subscriptable:
                      type: boolean
                    scales:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          correction_number:
                            type: integer
                          is_primary:
                            type: boolean
                        required:
                          - id
                          - correction_number
                          - is_primary
                    uploads:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                        required:
                          - id
                          - name
                    team_behaviour:
                      type: string
                    commit:
                      type: string
                      nullable: true
                    project:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        slug:
                          type: string
                        difficulty:
                          type: integer
                          nullable: true
                        parent:
                          type: object
                          nullable: true
                          properties:
                            name:
                              type: string
                            id:
                              type: integer
                            slug:
                              type: string
                            url:
                              type: string
                          required:
                            - name
                            - id
                            - slug
                            - url
                        children:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              id:
                                type: integer
                              slug:
                                type: string
                              url:
                                type: string
                            required:
                              - name
                              - id
                              - slug
                              - url
                        attachments:
                          type: array
                          items: {}
                        created_at:
                          type: string
                        updated_at:
                          type: string
                        exam:
                          type: boolean
                        git_id:
                          type: integer
                          nullable: true
                        repository:
                          type: string
                          nullable: true
                      required:
                        - id
                        - name
                        - slug
                        - difficulty
                        - parent
                        - children
                        - attachments
                        - created_at
                        - updated_at
                        - exam
                        - git_id
                        - repository
                    campus:
                      type: object
                      nullable: true
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        time_zone:
                          type: string
                        language:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            identifier:
                              type: string
                            created_at:
                              type: string
                            updated_at:
                              type: string
                          required:
                            - id
                            - name
                            - identifier
                            - created_at
                            - updated_at
                        users_count:
                          type: integer
                        vogsphere_id:
                          type: integer
                        country:
                          type: string
                        address:
                          type: string
                        zip:
                          type: string
                        city:
                          type: string
                        website:
                          type: string
                        facebook:
                          type: string
                        twitter:
                          type: string
                        active:
                          type: boolean
                        public:
                          type: boolean
                        email_extension:
                          type: string
                        default_hidden_phone:
                          type: boolean
                      required:
                        - id
                        - name
                        - time_zone
                        - language
                        - users_count
                        - vogsphere_id
                        - country
                        - address
                        - zip
                        - city
                        - website
                        - facebook
                        - twitter
                        - active
                        - public
                        - email_extension
                        - default_hidden_phone
                    cursus:
                      type: object
                      nullable: true
                      properties:
                        id:
                          type: integer
                        created_at:
                          type: string
                        name:
                          type: string
                        slug:
                          type: string
                        kind:
                          type: string
                      required:
                        - id
                        - created_at
                        - name
                        - slug
                        - kind
                    evaluations:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          kind:
                            type: string
                        required:
                          - id
                          - kind
                    project_sessions_rules:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          required:
                            type: boolean
                          position:
                            type: integer
                          params:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                param_id:
                                  type: integer
                                project_sessions_rule_id:
                                  type: integer
                                value:
                                  type: string
                                created_at:
                                  type: string
                                updated_at:
                                  type: string
                              required:
                                - id
                                - param_id
                                - project_sessions_rule_id
                                - value
                                - created_at
                                - updated_at
                          rule:
                            type: object
                            properties:
                              id:
                                type: integer
                              kind:
                                type: string
                              name:
                                type: string
                              description:
                                type: string
                              created_at:
                                type: string
                              updated_at:
                                type: string
                              slug:
                                type: string
                              internal_name:
                                type: string
                            required:
                              - id
                              - kind
                              - name
                              - description
                              - created_at
                              - updated_at
                              - slug
                              - internal_name
                        required:
                          - id
                          - required
                          - position
                          - params
                          - rule
                  required:
                    - id
                    - solo
                    - begin_at
                    - end_at
                    - estimate_time
                    - difficulty
                    - objectives
                    - description
                    - duration_days
                    - terminating_after
                    - project_id
                    - campus_id
                    - cursus_id
                    - created_at
                    - updated_at
                    - max_people
                    - is_subscriptable
                    - scales
                    - uploads
                    - team_behaviour
                    - commit
                    - project
                    - campus
                    - cursus
                    - evaluations
                    - project_sessions_rules
          headers: {}
      security: []
  /cursus:
    get:
      summary: ''
      deprecated: false
      description: ''
      tags: []
      parameters:
        - name: sort
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - created_at
                - updated_at
                - slug
                - kind
                - restricted
                - is_subscriptable
                - '-id'
                - '-name'
                - '-created_at'
                - '-updated_at'
                - '-slug'
                - '-kind'
                - '-restricted'
                - '-is_subscriptable'
        - name: filter[id]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: filter[name]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[created_at]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[updated_at]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[slug]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[kind]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[restricted]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[is_subscriptable]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: range[id]
          in: query
          schema:
            type: string
        - name: range[name]
          in: query
          schema:
            type: string
        - name: range[created_at]
          in: query
          schema:
            type: string
        - name: range[updated_at]
          in: query
          schema:
            type: string
        - name: range[slug]
          in: query
          schema:
            type: string
        - name: range[kind]
          in: query
          schema:
            type: string
        - name: range[restricted]
          in: query
          schema:
            type: string
        - name: range[is_subscriptable]
          in: query
          schema:
            type: string
        - name: page[number]
          in: query
          schema:
            type: integer
        - name: page[size]
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    created_at:
                      type: string
                    name:
                      type: string
                    slug:
                      type: string
                    kind:
                      type: string
                  required:
                    - id
                    - created_at
                    - name
                    - slug
                    - kind
          headers: {}
      security: []
  /campus:
    get:
      summary: ''
      deprecated: false
      description: ''
      tags: []
      parameters:
        - name: sort
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - created_at
                - updated_at
                - time_zone
                - language_id
                - slug
                - main_email
                - endpoint_id
                - vogsphere_id
                - content_email
                - time_of_community_service_started
                - companies_mail
                - address
                - zip
                - city
                - country
                - pro_needs_validation
                - logo
                - website
                - facebook
                - twitter
                - display_name
                - email_extension
                - help_url
                - active
                - open_to_job_offers
                - default_hidden_phone
                - tig_email
                - minimum_slot_duration
                - alumni_system
                - manual_alumnization_before_first_internship
                - public
                - '-id'
                - '-name'
                - '-created_at'
                - '-updated_at'
                - '-time_zone'
                - '-language_id'
                - '-slug'
                - '-main_email'
                - '-endpoint_id'
                - '-vogsphere_id'
                - '-content_email'
                - '-time_of_community_service_started'
                - '-companies_mail'
                - '-address'
                - '-zip'
                - '-city'
                - '-country'
                - '-pro_needs_validation'
                - '-logo'
                - '-website'
                - '-facebook'
                - '-twitter'
                - '-display_name'
                - '-email_extension'
                - '-help_url'
                - '-active'
                - '-open_to_job_offers'
                - '-default_hidden_phone'
                - '-tig_email'
                - '-minimum_slot_duration'
                - '-alumni_system'
                - '-manual_alumnization_before_first_internship'
                - '-public'
        - name: filter[id]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: filter[name]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[created_at]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[updated_at]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[time_zone]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[language_id]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[slug]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[main_email]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[endpoint_id]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[vogsphere_id]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: filter[content_email]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[time_of_community_service_started]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[companies_mail]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[address]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[zip]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[city]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[country]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[pro_needs_validation]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[logo]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[website]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[facebook]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[twitter]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[display_name]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[email_extension]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[help_url]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[active]
          in: query
          schema:
            type: boolean
        - name: filter[open_to_job_offers]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[default_hidden_phone]
          in: query
          schema:
            type: boolean
        - name: filter[tig_email]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[minimum_slot_duration]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[alumni_system]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[manual_alumnization_before_first_internship]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[public]
          in: query
          schema:
            type: boolean
        - name: range[id]
          in: query
          schema:
            type: string
        - name: range[name]
          in: query
          schema:
            type: string
        - name: range[created_at]
          in: query
          schema:
            type: string
        - name: range[updated_at]
          in: query
          schema:
            type: string
        - name: range[time_zone]
          in: query
          schema:
            type: string
        - name: range[language_id]
          in: query
          schema:
            type: string
        - name: range[slug]
          in: query
          schema:
            type: string
        - name: range[main_email]
          in: query
          schema:
            type: string
        - name: range[endpoint_id]
          in: query
          schema:
            type: string
        - name: range[vogsphere_id]
          in: query
          schema:
            type: string
        - name: range[content_email]
          in: query
          schema:
            type: string
        - name: range[time_of_community_service_started]
          in: query
          schema:
            type: string
        - name: range[companies_mail]
          in: query
          schema:
            type: string
        - name: range[address]
          in: query
          schema:
            type: string
        - name: range[zip]
          in: query
          schema:
            type: string
        - name: range[city]
          in: query
          schema:
            type: string
        - name: range[country]
          in: query
          schema:
            type: string
        - name: range[pro_needs_validation]
          in: query
          schema:
            type: string
        - name: range[logo]
          in: query
          schema:
            type: string
        - name: range[website]
          in: query
          schema:
            type: string
        - name: range[facebook]
          in: query
          schema:
            type: string
        - name: range[twitter]
          in: query
          schema:
            type: string
        - name: range[display_name]
          in: query
          schema:
            type: string
        - name: range[email_extension]
          in: query
          schema:
            type: string
        - name: range[help_url]
          in: query
          schema:
            type: string
        - name: range[active]
          in: query
          schema:
            type: string
        - name: range[open_to_job_offers]
          in: query
          schema:
            type: string
        - name: range[default_hidden_phone]
          in: query
          schema:
            type: string
        - name: range[tig_email]
          in: query
          schema:
            type: string
        - name: range[minimum_slot_duration]
          in: query
          schema:
            type: string
        - name: range[alumni_system]
          in: query
          schema:
            type: string
        - name: range[manual_alumnization_before_first_internship]
          in: query
          schema:
            type: string
        - name: range[public]
          in: query
          schema:
            type: string
        - name: page[number]
          in: query
          schema:
            type: integer
        - name: page[size]
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    time_zone:
                      type: string
                    language:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        identifier:
                          type: string
                      required:
                        - id
                        - name
                        - identifier
                    users_count:
                      type: integer
                    vogsphere_id:
                      type: integer
                      nullable: true
                    country:
                      type: string
                    address:
                      type: string
                    zip:
                      type: string
                    city:
                      type: string
                    website:
                      type: string
                    facebook:
                      type: string
                    twitter:
                      type: string
                    active:
                      type: boolean
                    public:
                      type: boolean
                    email_extension:
                      type: string
                      nullable: true
                    default_hidden_phone:
                      type: boolean
                    endpoint:
                      type: object
                      nullable: true
                      properties:
                        id:
                          type: integer
                        url:
                          type: string
                        description:
                          type: string
                        created_at:
                          type: string
                        updated_at:
                          type: string
                      required:
                        - id
                        - url
                        - description
                        - created_at
                        - updated_at
                  required:
                    - id
                    - name
                    - time_zone
                    - language
                    - users_count
                    - vogsphere_id
                    - country
                    - address
                    - zip
                    - city
                    - website
                    - facebook
                    - twitter
                    - active
                    - public
                    - email_extension
                    - default_hidden_phone
                    - endpoint
          headers: {}
      security: []
  /users:
    get:
      summary: ''
      deprecated: false
      description: ''
      tags: []
      parameters:
        - name: sort
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - login
                - email
                - encrypted_password
                - reset_password_token
                - reset_password_sent_at
                - created_at
                - updated_at
                - image
                - first_name
                - last_name
                - pool_year
                - pool_month
                - kind
                - status
                - otp_secret_key
                - otp_tmp
                - otp_activated
                - otp_backup_passwords
                - slack_team
                - slack_login
                - slack_mail
                - slack_code_validation
                - slack_validated_at
                - token_id
                - email_stop
                - linked_user_id
                - usual_first_name
                - last_seen_at
                - password_changed_at
                - encrypted_single_usage_password
                - first_warn_anon_sent_at
                - second_warn_anon_sent_at
                - alumnized_at
                - anonymized_at
                - '-id'
                - '-login'
                - '-email'
                - '-encrypted_password'
                - '-reset_password_token'
                - '-reset_password_sent_at'
                - '-created_at'
                - '-updated_at'
                - '-image'
                - '-first_name'
                - '-last_name'
                - '-pool_year'
                - '-pool_month'
                - '-kind'
                - '-status'
                - '-otp_secret_key'
                - '-otp_tmp'
                - '-otp_activated'
                - '-otp_backup_passwords'
                - '-slack_team'
                - '-slack_login'
                - '-slack_mail'
                - '-slack_code_validation'
                - '-slack_validated_at'
                - '-token_id'
                - '-email_stop'
                - '-linked_user_id'
                - '-usual_first_name'
                - '-last_seen_at'
                - '-password_changed_at'
                - '-encrypted_single_usage_password'
                - '-first_warn_anon_sent_at'
                - '-second_warn_anon_sent_at'
                - '-alumnized_at'
                - '-anonymized_at'
        - name: filter[id]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: filter[login]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[email]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[created_at]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[updated_at]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[pool_year]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[pool_month]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[kind]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[status]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[primary_campus_id]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[first_name]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[last_name]
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: filter[alumni?]
          in: query
          schema:
            type: boolean
        - name: filter[staff?]
          in: query
          schema:
            type: boolean
        - name: range[id]
          in: query
          schema:
            type: string
        - name: range[login]
          in: query
          schema:
            type: string
        - name: range[email]
          in: query
          schema:
            type: string
        - name: range[created_at]
          in: query
          schema:
            type: string
        - name: range[updated_at]
          in: query
          schema:
            type: string
        - name: range[pool_year]
          in: query
          schema:
            type: string
        - name: range[pool_month]
          in: query
          schema:
            type: string
        - name: range[kind]
          in: query
          schema:
            type: string
        - name: range[status]
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    email:
                      type: string
                    login:
                      type: string
                    first_name:
                      type: string
                    last_name:
                      type: string
                    usual_full_name:
                      type: string
                    usual_first_name:
                      type: string
                    url:
                      type: string
                    phone:
                      type: string
                    displayname:
                      type: string
                    kind:
                      type: string
                    image:
                      type: object
                      properties:
                        link:
                          type: string
                          nullable: true
                        versions:
                          type: object
                          properties:
                            large:
                              type: string
                              nullable: true
                            medium:
                              type: string
                              nullable: true
                            small:
                              type: string
                              nullable: true
                            micro:
                              type: string
                              nullable: true
                          required:
                            - large
                            - medium
                            - small
                            - micro
                      required:
                        - link
                        - versions
                    staff?:
                      type: boolean
                    correction_point:
                      type: integer
                    pool_month:
                      type: string
                      nullable: true
                    pool_year:
                      type: string
                      nullable: true
                    location:
                      type: string
                      nullable: true
                    wallet:
                      type: integer
                    anonymize_date:
                      type: string
                      nullable: true
                    data_erasure_date:
                      type: string
                      nullable: true
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    alumnized_at:
                      type: string
                      nullable: true
                    alumni?:
                      type: boolean
                    active?:
                      type: boolean
                  required:
                    - id
                    - email
                    - login
                    - first_name
                    - last_name
                    - usual_full_name
                    - usual_first_name
                    - url
                    - phone
                    - displayname
                    - kind
                    - image
                    - staff?
                    - correction_point
                    - pool_month
                    - pool_year
                    - location
                    - wallet
                    - anonymize_date
                    - data_erasure_date
                    - created_at
                    - updated_at
                    - alumnized_at
                    - alumni?
                    - active?
          headers: {}
      security: []
