openapi: 3.0.0
info:
  title: 42 API
  version: '1.0'
servers:
  - url: https://api.intra.42.fr/v2
paths:
  /project_sessions:
    get:
      summary: ''
      deprecated: false
      description: ''
      tags: []
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  solo:
                    type: boolean
                  begin_at:
                    type: string
                    nullable: true
                  end_at:
                    type: string
                    nullable: true
                  estimate_time:
                    type: string
                    nullable: true
                  difficulty:
                    type: integer
                    nullable: true
                  objectives:
                    type: array
                    items:
                      type: string
                  description:
                    type: string
                  duration_days:
                    type: integer
                    nullable: true
                  terminating_after:
                    type: integer
                    nullable: true
                  project_id:
                    type: integer
                  campus_id:
                    type: integer
                    nullable: true
                  cursus_id:
                    type: integer
                    nullable: true
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  max_people:
                    type: integer
                    nullable: true
                  is_subscriptable:
                    type: boolean
                  scales:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        correction_number:
                          type: integer
                        is_primary:
                          type: boolean
                      required:
                        - id
                        - correction_number
                        - is_primary
                  uploads:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                      required:
                        - id
                        - name
                  team_behaviour:
                    type: string
                  commit:
                    type: string
                    nullable: true
                  project:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      slug:
                        type: string
                      difficulty:
                        type: integer
                        nullable: true
                      parent:
                        type: object
                        nullable: true
                        properties:
                          name:
                            type: string
                          id:
                            type: integer
                          slug:
                            type: string
                          url:
                            type: string
                        required:
                          - name
                          - id
                          - slug
                          - url
                      children:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            id:
                              type: integer
                            slug:
                              type: string
                            url:
                              type: string
                          required:
                            - name
                            - id
                            - slug
                            - url
                      attachments:
                        type: array
                        items: {}
                      created_at:
                        type: string
                      updated_at:
                        type: string
                      exam:
                        type: boolean
                      git_id:
                        type: integer
                        nullable: true
                      repository:
                        type: string
                        nullable: true
                    required:
                      - id
                      - name
                      - slug
                      - difficulty
                      - parent
                      - children
                      - attachments
                      - created_at
                      - updated_at
                      - exam
                      - git_id
                      - repository
                  campus:
                    type: object
                    nullable: true
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      time_zone:
                        type: string
                      language:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          identifier:
                            type: string
                          created_at:
                            type: string
                          updated_at:
                            type: string
                        required:
                          - id
                          - name
                          - identifier
                          - created_at
                          - updated_at
                      users_count:
                        type: integer
                      vogsphere_id:
                        type: integer
                      country:
                        type: string
                      address:
                        type: string
                      zip:
                        type: string
                      city:
                        type: string
                      website:
                        type: string
                      facebook:
                        type: string
                      twitter:
                        type: string
                      active:
                        type: boolean
                      public:
                        type: boolean
                      email_extension:
                        type: string
                      default_hidden_phone:
                        type: boolean
                    required:
                      - id
                      - name
                      - time_zone
                      - language
                      - users_count
                      - vogsphere_id
                      - country
                      - address
                      - zip
                      - city
                      - website
                      - facebook
                      - twitter
                      - active
                      - public
                      - email_extension
                      - default_hidden_phone
                  cursus:
                    type: object
                    nullable: true
                    properties:
                      id:
                        type: integer
                      created_at:
                        type: string
                      name:
                        type: string
                      slug:
                        type: string
                      kind:
                        type: string
                    required:
                      - id
                      - created_at
                      - name
                      - slug
                      - kind
                  evaluations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        kind:
                          type: string
                      required:
                        - id
                        - kind
                  project_sessions_rules:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        required:
                          type: boolean
                        position:
                          type: integer
                        params:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              param_id:
                                type: integer
                              project_sessions_rule_id:
                                type: integer
                              value:
                                type: string
                              created_at:
                                type: string
                              updated_at:
                                type: string
                            required:
                              - id
                              - param_id
                              - project_sessions_rule_id
                              - value
                              - created_at
                              - updated_at
                        rule:
                          type: object
                          properties:
                            id:
                              type: integer
                            kind:
                              type: string
                            name:
                              type: string
                            description:
                              type: string
                            created_at:
                              type: string
                            updated_at:
                              type: string
                            slug:
                              type: string
                            internal_name:
                              type: string
                          required:
                            - id
                            - kind
                            - name
                            - description
                            - created_at
                            - updated_at
                            - slug
                            - internal_name
                      required:
                        - id
                        - required
                        - position
                        - params
                        - rule
                required:
                  - id
                  - solo
                  - begin_at
                  - end_at
                  - estimate_time
                  - difficulty
                  - objectives
                  - description
                  - duration_days
                  - terminating_after
                  - project_id
                  - campus_id
                  - cursus_id
                  - created_at
                  - updated_at
                  - max_people
                  - is_subscriptable
                  - scales
                  - uploads
                  - team_behaviour
                  - commit
                  - project
                  - campus
                  - cursus
                  - evaluations
                  - project_sessions_rules
          headers: {}
      security: []
